{% extends "layout.html" %}

{% block heading %}
    Weatherly: A Weather App
{% endblock %}

{% block body %}

    <body class="bg">

        <form action="{{ url_for('login') }}">
            <div class="login-register-btn">
                <button type="submit" name="login" class="btn btn-primary">Login</button>
            </div>
        </form>
        <br>
        <form action="{{ url_for('register') }}">
            <div class="login-register-btn">
                <button type="submit" name="register" class="btn btn-primary">Register</button>
            </div>
        </form>

    </body>

{% endblock %}