{% extends "layout.html" %}

{% block heading %}
    <h1 class="home-intro">Weatherly: Weather App</h1>
{% endblock %}

{% block body %}

    <body class="bg">
            <div class="video-bg show-video">
                <div class="video-fg show-video">
                    <iframe src="https://www.youtube.com/embed/9ZfN87gSjvI?start=68&end=246&autoplay=1&mute=0&controls=0&showinfo=0&rel=0&loop=1&playlist=9ZfN87gSjvI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <br><br>
            <form action="{{ url_for('login') }}">
                <div class="login-register-btn">
                    <button type="submit" name="login" class="btn btn-light intro-button">Login</button>
                </div>
            </form>
            <br>
            <form action="{{ url_for('register') }}">
                <div class="login-register-btn">
                    <button type="submit" name="register" class="btn btn-light intro-button">Register</button>
                </div>
            </form>

    </body>

{% endblock %}