{% extends "layout.html" %}

{% block heading %}
    <h3>Logged in as {{user}}</h3>
    <h1>Weather in {{city}} {{zip_info.state}}, {{zipcode}}</h1>
{% endblock %}

{% block body %}

    <body>
        <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <ul>
                            <li><strong>Time</strong><br>{{weather_now["time"]}}</li>
                            <li><strong>Latitude</strong><br>{{zip_info.lat}}</li>
                            <li><strong>Longitude</strong><br>{{zip_info.long}}</li>
                            <li><strong>Population</strong><br>{{zip_info.population}}</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li><strong>Summary</strong><br>{{weather_now["summary"]}}</li>
                            <li><strong>Temperature</strong><br>{{weather_now["temperature"]}}</li>
                            <li><strong>Dew Point</strong><br>{{weather_now["dewPoint"]}}</li>
                            <li><strong>Humidity</strong><br>{{weather_now["humidity"]}}</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li><strong>Users Checked In</strong><br>{{check_in_count}}</li>
                        </ul>
                        <form action="{{ url_for('location', city=city, lat=zip_info.lat, longg=zip_info.long, zipcode=zipcode, check_in='YES') }}" class="checkin-form" method="post">
                            <div class="form-group">
                                <label class="field-label">Comment, {{user}}</label>
                                <textarea name="comment" class="form-control comment-input" form="checkin-form"></textarea>
                            </div>
                             <div class="login-register-btn">
                                <button type="submit" name="submit" class="btn btn-light intro-button" value="checkin">Check In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


    </body>

{% endblock %}