{% extends "layout.html" %}

{% block heading %}
    <h3>Logged in as {{user}}</h3>
    <h1>Enter a Location to View the Weather</h1>
{% endblock %}

{% block body %}

    <body>
        <form action="{{ url_for('search', action='results') }}" method="post">
            <div>
                <p>{{message}}</p>
            </div>
            <div class="form-group">
                <label class="field-label">Search</label>
                <input type="text" name="search" class="form-control" placeholder="Enter a Zipcode, City, or Town">
            </div>
            <div class="login-register-btn">
                <button type="submit" name="submit" class="btn btn-primary" value="Search">Search</button>
            </div>
        </form>
        <br><br>
        <form action="{{ url_for('logout') }}" method="post">
            <div class="login-register-btn">
                <button type="submit" name="submit" class="btn btn-primary" value="Logout">Logout</button>
            </div>
        </form>

    </body>

{% endblock %}