{% extends "layout.html" %}

{% block heading %}
    <h3 class="location-user">Logged in as {{user}}</h3>
    <form action="{{ url_for('logout') }}" method="post">
        <div class="logout-position">
            <button type="submit" name="submit" class="btn btn-light intro-button" value="Logout">Logout</button>
        </div>
    </form>
    <h1>Enter a Location to View the Weather</h1>
{% endblock %}

{% block body %}

    <body class="location-bg">
        <form action="{{ url_for('search', action='results') }}" method="post">
            <div>
                <p>{{message}}</p>
            </div>
            <div class="form-group">
                <label class="field-search-label">Search</label>
                <input type="text" name="search" class="form-control" placeholder="Enter a Zipcode, City, or Town">
            </div>
            <div class="login-register-btn">
                <button type="submit" name="submit" class="btn btn-light intro-button" value="Search">Search</button>
            </div>
        </form>
    </body>

{% endblock %}