
$text-color: #001a6b;
$error-color: #bc2105;
$font-stack: 'Encode Sans Condensed', sans-serif;

h1 {
    text-align: center;
    margin-top: 100px;
    color: $text-color;
    font-weight: bold;
    font-family: $font-stack;
}

p {
    color: $error-color;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login-register-btn {
    text-align: center;
}

html, body {
        min-height: 100%;
    }

.bg {
    background-image: url("https://farm3.staticflickr.com/2540/3866289140_ec0dd93a12_b.jpg");

    margin: 0;
    height: 100%;

    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.field-label {
    color: $text-color;
    font-weight: bold;
    font-family: $font-stack;
}

.link-result:link, .link-result:visited {
    text-decoration: none;
    color: $text-color;
}

.link-result:hover {;
    color: $error-color;
}