
$text-color: #001a6b;
$error-color: #bc2105;
$font-stack: 'PT Sans Caption', sans-serif;
$font-stack-alt: 'Lobster', sans-serif;

%big-header {
    color: $text-color;
    font-weight: bold;
    font-family: $font-stack-alt;
}

.header-comments {
    @extend %big-header;
    font-size: 250%;
    margin-left: 25%;
    text-align: left;
}

h1 {
    @extend %big-header;
    margin-top: 100px;
    text-align: center;
}

.home-intro {
    @extend %big-header;
    font-size: 650%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

h3 {
    text-align: right;
    color: $text-color;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 15px;
    font-family: $font-stack;
}

p {
    color: white;
    font-family: $font-stack;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

%my-button {
    height: 50px;
    color: white;
    background-color: $text-color;
}

.intro-button {
    @extend %my-button;
    width: 200px;
}

.comment-button {
    @extend %my-button;
    width: 275px;
}

.intro-button:hover, .comment-button:hover {
    background-color: white;
    color: $text-color;
}

.checkin-form {
    width: 80%;
}

.login-register-btn {
    text-align: center;
}

.logout-position {
    position: absolute;
    top: 55px;
    right: 16px;
}

html, body {
        min-height: 100%;
    }

.bg {
    background-image: url("https://farm4.staticflickr.com/3839/14184824297_24c4ddbd25_b.jpg");

    margin: 0;
    height: 100%;

    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.location-bg {
    background-image: url("https://farm4.staticflickr.com/3928/15342852425_69c2cf734a_b.jpg");

    margin: 0;
    height: 100%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.location-user {
    color: white;
}

.video-bg {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}

.video-fg, .video-bg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 992px) {
    .show-video {
        visibility: hidden;
    }

    ul {
        text-align: center;
        list-style-type: none;
            li {
                color: $text-color;
                font-size: 225%;
                font-family: $font-stack;
            }
    }
}

@media (min-width: 993px) {

    ul {
        text-align: left;
        list-style-type: none;
            li {
                color: $text-color;
                font-size: 225%;
                font-family: $font-stack;
            }
    }
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
      height: 300%;
      top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
      width: 300%;
      left: -100%;
  }
}

.field-label {
    color: white;
    font-weight: bold;
    font-family: $font-stack;
}

.field-search-label {
    color: $text-color;
    font-weight: bold;
    font-family: $font-stack;
}

.comment-input {
    height: 100px;
    resize: none;
}

.comment-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    .comment-item {
        text-align: left;
        .comment-user {
            font-size: 110%;
        }
        .comment-comment {
            font-size: 65%;
        }
    }
}

.link-result:link, .link-result:visited {
    text-decoration: none;
    color: $text-color;
}

.link-result:hover {;
    color: $error-color;
}
